@import "https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&subset=cyrillic";
@import "https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&subset=cyrillic";
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  height: 100%; }

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 300px;
  min-height: 100%;
  height: 0;
  padding: 0;
  margin: 0;
  position: relative; }

.container {
  width: 85%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 0; }

.clear {
  clear: both; }

.overflow-hidden {
  overflow: hidden; }

body {
  color: rgba(255, 255, 255, 0.55);
  background-color: #371253;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400; }

a {
  color: white;
  text-decoration: underline;
  -webkit-transition: color .15s ease-in-out;
  -o-transition: color .15s ease-in-out;
  transition: color .15s ease-in-out; }
  a:hover {
    color: #cee868; }
  a:focus {
    outline: none; }
  a:active {
    background-color: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none; }

h1 {
  font-family: inherit;
  font-size: 3.5em;
  line-height: 1;
  font-weight: 500;
  padding: 0;
  margin: 0 0 .3em 0; }

h2 {
  font-family: inherit;
  font-size: 2.25em;
  line-height: 1.5;
  font-weight: 500;
  padding: 0;
  margin: 1.75em 0 .3em 0; }

h3 {
  font-family: inherit;
  font-size: 1.75em;
  line-height: 1.5;
  font-weight: 500;
  padding: 0;
  margin: 2.5em 0 .4em 0; }

h4 {
  font-family: inherit;
  font-size: 1.25em;
  line-height: 1.5;
  font-weight: 500;
  padding: 0;
  margin: 3em 0 .5em 0; }

p {
  padding: 0;
  margin: 0; }
  p + p,
  p + ul,
  p + ol {
    margin-top: 2.1em; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

ul,
ol {
  margin: 0 0 0 3em;
  padding: 0; }
  ul li,
  ol li {
    margin: 0;
    padding: 0; }
    ul li + li,
    ol li + li {
      margin-top: 1em; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-justify {
  text-align: justify; }

hr {
  height: 0;
  margin: 1em 0;
  padding: 0;
  background: none;
  border: none;
  border-top: 1px solid #777;
  -webkit-box-shadow: none;
          box-shadow: none; }

.header {
  width: 100%;
  height: 3.2em;
  line-height: 3.2em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.22);
  position: absolute;
  left: 0;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center; }
  .header .container {
    position: relative;
    min-height: 100%; }
  .header a {
    display: inline-block;
    color: rgba(255, 255, 255, 0.22);
    padding: 0 .75em;
    font-family: 'Roboto Condensed', 'Arial Narrow', sans-serif;
    font-size: .8em;
    text-transform: uppercase;
    text-decoration: none; }
    .header a:hover {
      color: rgba(255, 255, 255, 0.5); }

.footer {
  width: 100%;
  height: 3.2em;
  line-height: 3.2em;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.25);
  background-color: #333;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .footer .container {
    position: relative;
    min-height: 100%; }
  .footer p {
    padding: 0;
    margin: 0; }
  .footer a {
    color: inherit;
    text-decoration: underline; }
    .footer a:hover {
      text-decoration: none; }

.content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 3.2em solid transparent;
  width: 100%;
  min-height: 100%;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  .content img {
    max-width: 100%; }
  .content table {
    max-width: 100%; }

.page {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  height: auto;
  padding: 2.6em 0; }

.home {
  height: 100%;
  min-height: 27em;
  max-height: 34em;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  .home .container {
    max-width: 500px; }
  .home__logo {
    margin: 0 0 .5em 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; }
  .home__signin {
    width: 95%;
    margin: 0 auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; }
    .home__signin .input {
      text-align: center;
      width: 100%; }
    .home__signin .btn {
      width: 62%; }
    .home__signin .field {
      position: relative; }
    .home__signin .field + .field {
      margin-top: .5em; }
    .home__signin .action {
      margin-top: 2.75em; }
  .home__links {
    margin: 2em 0 0 0;
    font-family: 'Roboto Condensed', 'Arial Narrow', sans-serif;
    font-size: .9375em;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; }
    .home__links .list {
      list-style-type: none;
      padding: 0;
      margin: 0; }
    .home__links .item {
      margin: 0; }
    .home__links .link {
      color: #fff;
      -webkit-transition: all .175s ease-in-out;
      -o-transition: all .175s ease-in-out;
      transition: all .175s ease-in-out;
      position: relative;
      display: inline-block;
      padding: 2px 1.75em 4px 1.75em;
      opacity: .18; }
      .home__links .link:before {
        -webkit-transition: opacity .1s ease-in-out, border-color .175s ease-in-out, border-width .175s ease-in-out, background-color .175s ease-in-out, -webkit-transform .175s ease-in-out, -webkit-box-shadow .1s ease-in-out;
        transition: opacity .1s ease-in-out, border-color .175s ease-in-out, border-width .175s ease-in-out, background-color .175s ease-in-out, -webkit-transform .175s ease-in-out, -webkit-box-shadow .1s ease-in-out;
        -o-transition: transform .175s ease-in-out, opacity .1s ease-in-out, box-shadow .1s ease-in-out, border-color .175s ease-in-out, border-width .175s ease-in-out, background-color .175s ease-in-out;
        transition: transform .175s ease-in-out, opacity .1s ease-in-out, box-shadow .1s ease-in-out, border-color .175s ease-in-out, border-width .175s ease-in-out, background-color .175s ease-in-out;
        transition: transform .175s ease-in-out, opacity .1s ease-in-out, box-shadow .1s ease-in-out, border-color .175s ease-in-out, border-width .175s ease-in-out, background-color .175s ease-in-out, -webkit-transform .175s ease-in-out, -webkit-box-shadow .1s ease-in-out;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        padding: 2px;
        border: 2px solid rgba(238, 117, 202, 0.8);
        border-radius: 5px;
        position: absolute;
        left: -4px;
        top: -4px;
        opacity: 0; }
      .home__links .link:hover {
        opacity: .5; }
      .home__links .link:focus {
        opacity: .75; }
        .home__links .link:focus:before {
          -webkit-transition-duration: .175s;
               -o-transition-duration: .175s;
                  transition-duration: .175s;
          -webkit-animation: btn_focus .3s linear;
                  animation: btn_focus .3s linear; }
      .home__links .link:active {
        opacity: .95; }
        .home__links .link:active:before {
          -webkit-transition-duration: .075s;
               -o-transition-duration: .075s;
                  transition-duration: .075s;
          -webkit-transform: scale(0.92, 0.92);
              -ms-transform: scale(0.92, 0.92);
                  transform: scale(0.92, 0.92);
          border-color: rgba(238, 117, 202, 0.95);
          -webkit-box-shadow: 0 0 5px 2px rgba(238, 117, 202, 0.2);
                  box-shadow: 0 0 5px 2px rgba(238, 117, 202, 0.2);
          background-color: rgba(238, 117, 202, 0.03);
          opacity: 1; }

.chart {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  min-height: 20em;
  position: relative;
  background-color: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .chart p.label {
    font-size: 2em;
    line-height: 2em;
    font-weight: 300;
    text-align: center;
    color: rgba(255, 255, 255, 0.22);
    width: 200px;
    position: absolute;
    left: calc(50% - 100px);
    top: 50%;
    margin-top: -1em; }

.logo {
  font-family: 'Roboto Condensed', 'Arial Narrow', sans-serif;
  font-size: 2em;
  line-height: 1;
  font-weight: 300;
  letter-spacing: -.01em;
  text-align: center;
  cursor: default;
  padding: 0;
  margin: 0; }
  .logo .true {
    color: rgba(255, 255, 255, 0.7); }
    .logo .true .r {
      margin-left: -.104em; }
  .logo .story {
    color: rgba(255, 255, 255, 0.3);
    position: relative;
    top: -.23em;
    left: -.21em; }
    .logo .story .o {
      margin-left: -.025em; }
    .logo .story .r {
      margin-left: -.015em;
      margin-right: .015em; }
    .logo .story:before {
      content: '';
      display: block; }
  .logo .dots {
    color: rgba(255, 255, 255, 0.3);
    position: absolute;
    margin-top: -.23em;
    margin-left: -.21em; }
    .logo .dots .d1 {
      margin-left: -.055em; }
    .logo .dots .d2 {
      margin-left: -.055em; }
    .logo .dots .d3 {
      margin-left: -.055em; }

@media only screen and (min-width: 300px) {
  html {
    font-size: 1em; }
  .container {
    width: 85%; } }

@media only screen and (min-width: 375px) {
  html {
    font-size: 1.05em; }
  .container {
    width: 82%; } }

@media only screen and (min-width: 450px) {
  html {
    font-size: 1.1em; }
  .container {
    width: 80%; } }

@media only screen and (min-width: 600px) {
  html {
    font-size: 1.15em; } }

@media only screen and (min-width: 750px) {
  html {
    font-size: 1.2em; }
  .container {
    width: 78%; } }

@media only screen and (min-width: 980px) {
  html {
    font-size: 1.25em; }
  .container {
    width: 77%; } }

@media only screen and (min-width: 1200px) {
  html {
    font-size: 1.3em; }
  .container {
    width: 76%; } }

@media only screen and (min-width: 1500px) {
  html {
    font-size: 1.35em; }
  body {
    font-weight: 300; }
  .container {
    width: 70%; } }

@media only screen and (min-width: 1800px) {
  html {
    font-size: 1.4em; }
  .container {
    width: 62%; } }

@-webkit-keyframes btn_focus {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) translate(0, 2px) scale(1.11, 1.11);
            transform: translate3d(0, 0, 0) translate(0, 2px) scale(1.11, 1.11); }
  38% {
    opacity: .62;
    -webkit-transform: translate3d(0, 0, 0) translate(0, 0) scale(1, 1);
            transform: translate3d(0, 0, 0) translate(0, 0) scale(1, 1); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) translate(0, 0) scale(1.11, 1.11);
            transform: translate3d(0, 0, 0) translate(0, 0) scale(1.11, 1.11); } }

@keyframes btn_focus {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) translate(0, 2px) scale(1.11, 1.11);
            transform: translate3d(0, 0, 0) translate(0, 2px) scale(1.11, 1.11); }
  38% {
    opacity: .62;
    -webkit-transform: translate3d(0, 0, 0) translate(0, 0) scale(1, 1);
            transform: translate3d(0, 0, 0) translate(0, 0) scale(1, 1); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) translate(0, 0) scale(1.11, 1.11);
            transform: translate3d(0, 0, 0) translate(0, 0) scale(1.11, 1.11); } }

@-webkit-keyframes bgcolor_isVisible {
  0% {
    background-color: transparent; }
  100% {
    background-color: rgba(0, 0, 0, 0.5); } }

@keyframes bgcolor_isVisible {
  0% {
    background-color: transparent; }
  100% {
    background-color: rgba(0, 0, 0, 0.5); } }

@-webkit-keyframes bgcolor_isHidden {
  0% {
    background-color: rgba(0, 0, 0, 0.5); }
  100% {
    background-color: transparent; } }

@keyframes bgcolor_isHidden {
  0% {
    background-color: rgba(0, 0, 0, 0.5); }
  100% {
    background-color: transparent; } }

@-webkit-keyframes modal_isVisible {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale(1.03, 1.03) translate(0, 0);
            transform: translate3d(0, 0, 0) scale(1.03, 1.03) translate(0, 0); }
  25% {
    opacity: .1; }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1, 1) translate(0, 0);
            transform: translate3d(0, 0, 0) scale(1, 1) translate(0, 0); } }

@keyframes modal_isVisible {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale(1.03, 1.03) translate(0, 0);
            transform: translate3d(0, 0, 0) scale(1.03, 1.03) translate(0, 0); }
  25% {
    opacity: .1; }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1, 1) translate(0, 0);
            transform: translate3d(0, 0, 0) scale(1, 1) translate(0, 0); } }

@-webkit-keyframes modal_isHidden {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1, 1) translate(0, 0);
            transform: translate3d(0, 0, 0) scale(1, 1) translate(0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale(0.97, 0.97) translate(0, 0);
            transform: translate3d(0, 0, 0) scale(0.97, 0.97) translate(0, 0); } }

@keyframes modal_isHidden {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1, 1) translate(0, 0);
            transform: translate3d(0, 0, 0) scale(1, 1) translate(0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale(0.97, 0.97) translate(0, 0);
            transform: translate3d(0, 0, 0) scale(0.97, 0.97) translate(0, 0); } }

.modal-holder {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  display: none; }
  .modal-holder.isVisible {
    display: block;
    -webkit-animation: bgcolor_isVisible .1s ease-out forwards;
            animation: bgcolor_isVisible .1s ease-out forwards; }
  .modal-holder.isHidden {
    display: block;
    -webkit-animation: bgcolor_isHidden .1s ease-out forwards;
            animation: bgcolor_isHidden .1s ease-out forwards; }

.modal-table {
  display: table;
  width: 100%;
  height: 100%;
  min-width: 300px; }

.modal-td {
  display: table-cell;
  vertical-align: middle;
  padding: 50px;
  margin: 0; }

.modal-dialog {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  position: relative;
  margin: 0 auto;
  width: 500px;
  padding: 60px;
  display: none; }
  .modal-dialog.isVisible {
    display: block;
    -webkit-animation: modal_isVisible .15s ease-out forwards;
            animation: modal_isVisible .15s ease-out forwards; }
  .modal-dialog.isHidden {
    display: block;
    -webkit-animation: modal_isHidden .15s ease-out forwards;
            animation: modal_isHidden .15s ease-out forwards; }

.modal-title {
  margin: 8px 0 16px 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #535353; }

.modal-close {
  width: 27px;
  height: 27px;
  background: #777 url("../img/icons/icon-modal-close.png") no-repeat center center;
  cursor: pointer;
  -webkit-transition: all .07s ease-in-out;
  -o-transition: all .07s ease-in-out;
  transition: all .07s ease-in-out;
  position: absolute;
  right: -27px;
  top: -27px; }
  .modal-close:hover {
    background-color: #333; }

.modal-test {
  text-align: center; }

.btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  font-family: 'Roboto Condensed', 'Arial Narrow', sans-serif;
  font-size: 1.06em;
  line-height: inherit;
  height: 2.75em;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  background: none;
  color: rgba(255, 255, 255, 0.8);
  padding: 0 1.5em;
  margin: 0;
  outline: 0 !important;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  cursor: default;
  position: relative;
  -webkit-transition: all .175s ease-in-out;
  -o-transition: all .175s ease-in-out;
  transition: all .175s ease-in-out; }
  .btn:visited {
    color: inherit; }
  .btn:before {
    -webkit-transition: opacity .1s ease-in-out, border-color .175s ease-in-out, -webkit-transform .175s ease-in-out;
    transition: opacity .1s ease-in-out, border-color .175s ease-in-out, -webkit-transform .175s ease-in-out;
    -o-transition: transform .175s ease-in-out, opacity .1s ease-in-out, border-color .175s ease-in-out;
    transition: transform .175s ease-in-out, opacity .1s ease-in-out, border-color .175s ease-in-out;
    transition: transform .175s ease-in-out, opacity .1s ease-in-out, border-color .175s ease-in-out, -webkit-transform .175s ease-in-out;
    content: '';
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) translate(0, 0) scale(1, 1);
            transform: translate3d(0, 0, 0) translate(0, 0) scale(1, 1); }
  .btn:after {
    -webkit-transition: opacity .1s ease-in-out, border-color .175s ease-in-out, border-width .175s ease-in-out, background-color .175s ease-in-out, -webkit-transform .175s ease-in-out, -webkit-box-shadow .1s ease-in-out;
    transition: opacity .1s ease-in-out, border-color .175s ease-in-out, border-width .175s ease-in-out, background-color .175s ease-in-out, -webkit-transform .175s ease-in-out, -webkit-box-shadow .1s ease-in-out;
    -o-transition: transform .175s ease-in-out, opacity .1s ease-in-out, box-shadow .1s ease-in-out, border-color .175s ease-in-out, border-width .175s ease-in-out, background-color .175s ease-in-out;
    transition: transform .175s ease-in-out, opacity .1s ease-in-out, box-shadow .1s ease-in-out, border-color .175s ease-in-out, border-width .175s ease-in-out, background-color .175s ease-in-out;
    transition: transform .175s ease-in-out, opacity .1s ease-in-out, box-shadow .1s ease-in-out, border-color .175s ease-in-out, border-width .175s ease-in-out, background-color .175s ease-in-out, -webkit-transform .175s ease-in-out, -webkit-box-shadow .1s ease-in-out;
    content: '';
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(238, 117, 202, 0.8);
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) translate(0, 2px) scale(1.11, 1.11);
            transform: translate3d(0, 0, 0) translate(0, 2px) scale(1.11, 1.11); }
  .btn:hover {
    color: rgba(255, 255, 255, 0.95); }
    .btn:hover:before {
      border-color: rgba(255, 255, 255, 0.15);
      border-width: 2px; }
  .btn:focus {
    color: rgba(255, 255, 255, 0.95); }
    .btn:focus:before {
      -webkit-transition-duration: .225s;
           -o-transition-duration: .225s;
              transition-duration: .225s;
      -webkit-transform: translate3d(0, 0, 0) translate(0, -2px) scale(0.89, 0.89);
              transform: translate3d(0, 0, 0) translate(0, -2px) scale(0.89, 0.89);
      opacity: 0; }
    .btn:focus:after {
      -webkit-transition-duration: .175s;
           -o-transition-duration: .175s;
              transition-duration: .175s;
      -webkit-transform: translate3d(0, 0, 0) translate(0, 0) scale(1, 1);
              transform: translate3d(0, 0, 0) translate(0, 0) scale(1, 1);
      opacity: 1; }
  .btn:active {
    position: relative;
    top: 0; }
    .btn:active:after {
      -webkit-transition-duration: .075s;
           -o-transition-duration: .075s;
              transition-duration: .075s;
      border-color: rgba(238, 117, 202, 0.95);
      -webkit-transform: scale(0.97, 0.97);
          -ms-transform: scale(0.97, 0.97);
              transform: scale(0.97, 0.97);
      -webkit-box-shadow: 0 0 5px 2px rgba(238, 117, 202, 0.2);
              box-shadow: 0 0 5px 2px rgba(238, 117, 202, 0.2);
      background-color: rgba(238, 117, 202, 0.03); }
  .btn:disabled {
    color: rgba(255, 255, 255, 0.2) !important;
    top: 0 !important;
    cursor: default !important; }
    .btn:disabled:before {
      border-color: rgba(255, 255, 255, 0.08) !important;
      border-width: 1px !important; }

.input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  font-family: 'Roboto Condensed', 'Arial Narrow', sans-serif;
  font-size: 1.18em;
  line-height: inherit;
  height: 2.75em;
  background: none;
  color: rgba(255, 255, 255, 0.8);
  padding: .65em .75em .15em .75em;
  margin: 0;
  outline: 0;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  cursor: default;
  -webkit-transition: all .175s ease-in-out;
  -o-transition: all .175s ease-in-out;
  transition: all .175s ease-in-out; }
  .input + .brd {
    -webkit-transition: all .175s ease-in-out;
    -o-transition: all .175s ease-in-out;
    transition: all .175s ease-in-out;
    display: block;
    width: 100%;
    height: 2px;
    position: absolute; }
    .input + .brd:before {
      -webkit-transition: opacity .1s ease-in-out, background-color .175s ease-in-out, -webkit-transform .175s ease-in-out;
      transition: opacity .1s ease-in-out, background-color .175s ease-in-out, -webkit-transform .175s ease-in-out;
      -o-transition: transform .175s ease-in-out, opacity .1s ease-in-out, background-color .175s ease-in-out;
      transition: transform .175s ease-in-out, opacity .1s ease-in-out, background-color .175s ease-in-out;
      transition: transform .175s ease-in-out, opacity .1s ease-in-out, background-color .175s ease-in-out, -webkit-transform .175s ease-in-out;
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.08);
      position: absolute;
      left: 0;
      top: 0;
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0) translate(0, 0) scale(1, 1);
              transform: translate3d(0, 0, 0) translate(0, 0) scale(1, 1); }
    .input + .brd:after {
      -webkit-transition: opacity .1s ease-in-out, background-color .175s ease-in-out, -webkit-transform .175s ease-in-out;
      transition: opacity .1s ease-in-out, background-color .175s ease-in-out, -webkit-transform .175s ease-in-out;
      -o-transition: transform .175s ease-in-out, opacity .1s ease-in-out, background-color .175s ease-in-out;
      transition: transform .175s ease-in-out, opacity .1s ease-in-out, background-color .175s ease-in-out;
      transition: transform .175s ease-in-out, opacity .1s ease-in-out, background-color .175s ease-in-out, -webkit-transform .175s ease-in-out;
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: rgba(238, 117, 202, 0.8);
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0) translate(0, 2px) scale(1.11, 1.11);
              transform: translate3d(0, 0, 0) translate(0, 2px) scale(1.11, 1.11); }
  .input:hover {
    color: rgba(255, 255, 255, 0.95); }
    .input:hover + .brd:before {
      background-color: rgba(255, 255, 255, 0.15);
      height: 2px; }
  .input:focus {
    color: rgba(255, 255, 255, 0.95); }
    .input:focus + .brd:before {
      -webkit-transition-duration: .225s;
           -o-transition-duration: .225s;
              transition-duration: .225s;
      -webkit-transform: translate3d(0, 0, 0) translate(0, -2px) scale(0.89, 0.89);
              transform: translate3d(0, 0, 0) translate(0, -2px) scale(0.89, 0.89);
      opacity: 0; }
    .input:focus + .brd:after {
      -webkit-transition-duration: .175s;
           -o-transition-duration: .175s;
              transition-duration: .175s;
      -webkit-transform: translate3d(0, 0, 0) translate(0, 0) scale(1, 1);
              transform: translate3d(0, 0, 0) translate(0, 0) scale(1, 1);
      opacity: 1; }
  .input:disabled {
    color: rgba(255, 255, 255, 0.2) !important;
    cursor: default !important; }
    .input:disabled + .brd:before {
      background-color: rgba(255, 255, 255, 0.08) !important;
      height: 1px !important; }
  .input.error {
    color: rgba(228, 106, 106, 0.75);
    font-style: italic; }

.input::-webkit-input-placeholder {
  color: inherit;
  opacity: .4; }

.input:disabled::-webkit-input-placeholder {
  opacity: 1; }

.input:-moz-placeholder {
  color: inherit;
  opacity: .4; }

.input:disabled:-moz-placeholder {
  opacity: 1; }

.input::-moz-placeholder {
  color: inherit;
  opacity: .4; }

.input:disabled::-moz-placeholder {
  opacity: 1; }

.input:-ms-input-placeholder {
  color: inherit;
  opacity: .6; }

.input:disabled:-ms-input-placeholder {
  opacity: 1; }

.input::-ms-clear {
  display: none; }

.input::-ms-reveal {
  display: none; }

.textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  font-family: 'Roboto Condensed', 'Arial Narrow', sans-serif;
  font-size: 1.18em;
  line-height: inherit;
  min-height: 5em;
  background: none;
  color: rgba(255, 255, 255, 0.8);
  padding: 0;
  margin: 0;
  outline: 0;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  overflow: auto;
  resize: vertical;
  -webkit-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out; }
  .textarea + .brd {
    -webkit-transition: all .175s ease-in-out;
    -o-transition: all .175s ease-in-out;
    transition: all .175s ease-in-out;
    display: block;
    width: 100%;
    height: 2px;
    position: absolute; }
    .textarea + .brd:before {
      -webkit-transition: opacity .1s ease-in-out, background-color .175s ease-in-out, -webkit-transform .175s ease-in-out;
      transition: opacity .1s ease-in-out, background-color .175s ease-in-out, -webkit-transform .175s ease-in-out;
      -o-transition: transform .175s ease-in-out, opacity .1s ease-in-out, background-color .175s ease-in-out;
      transition: transform .175s ease-in-out, opacity .1s ease-in-out, background-color .175s ease-in-out;
      transition: transform .175s ease-in-out, opacity .1s ease-in-out, background-color .175s ease-in-out, -webkit-transform .175s ease-in-out;
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.08);
      position: absolute;
      left: 0;
      top: 0;
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0) translate(0, 0) scale(1, 1);
              transform: translate3d(0, 0, 0) translate(0, 0) scale(1, 1); }
    .textarea + .brd:after {
      -webkit-transition: opacity .1s ease-in-out, background-color .175s ease-in-out, -webkit-transform .175s ease-in-out;
      transition: opacity .1s ease-in-out, background-color .175s ease-in-out, -webkit-transform .175s ease-in-out;
      -o-transition: transform .175s ease-in-out, opacity .1s ease-in-out, background-color .175s ease-in-out;
      transition: transform .175s ease-in-out, opacity .1s ease-in-out, background-color .175s ease-in-out;
      transition: transform .175s ease-in-out, opacity .1s ease-in-out, background-color .175s ease-in-out, -webkit-transform .175s ease-in-out;
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: rgba(238, 117, 202, 0.8);
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0) translate(0, 2px) scale(1.11, 1.11);
              transform: translate3d(0, 0, 0) translate(0, 2px) scale(1.11, 1.11); }
  .textarea:hover {
    color: rgba(255, 255, 255, 0.95); }
    .textarea:hover + .brd:before {
      background-color: rgba(255, 255, 255, 0.15);
      height: 2px; }
  .textarea:focus {
    color: rgba(255, 255, 255, 0.95); }
    .textarea:focus + .brd:before {
      -webkit-transition-duration: .225s;
           -o-transition-duration: .225s;
              transition-duration: .225s;
      -webkit-transform: translate3d(0, 0, 0) translate(0, -2px) scale(0.89, 0.89);
              transform: translate3d(0, 0, 0) translate(0, -2px) scale(0.89, 0.89);
      opacity: 0; }
    .textarea:focus + .brd:after {
      -webkit-transition-duration: .175s;
           -o-transition-duration: .175s;
              transition-duration: .175s;
      -webkit-transform: translate3d(0, 0, 0) translate(0, 0) scale(1, 1);
              transform: translate3d(0, 0, 0) translate(0, 0) scale(1, 1);
      opacity: 1; }
  .textarea:disabled {
    color: rgba(255, 255, 255, 0.2) !important;
    cursor: default !important; }
    .textarea:disabled + .brd:before {
      background-color: rgba(255, 255, 255, 0.08) !important;
      height: 1px !important; }
  .textarea.error {
    color: rgba(228, 106, 106, 0.75);
    font-style: italic; }

.textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: .4; }

.textarea:disabled::-webkit-input-placeholder {
  opacity: 1; }

.textarea:-moz-placeholder {
  color: inherit;
  opacity: .4; }

.textarea:disabled:-moz-placeholder {
  opacity: 1; }

.textarea::-moz-placeholder {
  color: inherit;
  opacity: .4; }

.textarea:disabled::-moz-placeholder {
  opacity: 1; }

.textarea:-ms-input-placeholder {
  color: inherit;
  opacity: .6; }

.textarea:disabled:-ms-input-placeholder {
  opacity: 1; }

fieldset {
  margin: 0;
  padding: 0;
  border: 0; }
