// Modal Dialog: #modal-test
div.modal-dialog.modal-test#modal-test
	div.modal-close
	p.modal-title Message
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam ducimus ad optio debitis ipsum sequi, aperiam!
// /Modal Dialog: #modal-test