extends ./tpl/layout/__base.pug


block title
	- var page_title = "True Story";
	title= page_title


block content
	
	
	// .content
	main.content
		
		
		// .page
		main.page
			
			
			// .container
			div.container
				
				
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, corrupti inventore. Consequuntur ducimus architecto recusandae error molestias magnam fuga numquam enim beatae nisi velit, totam voluptas voluptates porro a ex!
				//p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, corrupti inventore. Consequuntur ducimus architecto recusandae error molestias magnam fuga numquam enim beatae nisi velit, totam voluptas voluptates porro a ex!
				//p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, corrupti inventore. Consequuntur ducimus architecto recusandae error molestias magnam fuga numquam enim beatae nisi velit, totam voluptas voluptates porro a ex!
				//p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, corrupti inventore. Consequuntur ducimus architecto recusandae error molestias magnam fuga numquam enim beatae nisi velit, totam voluptas voluptates porro a ex!
				//p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, corrupti inventore. Consequuntur ducimus architecto recusandae error molestias magnam fuga numquam enim beatae nisi velit, totam voluptas voluptates porro a ex!
				
				
			// /.container
			
			
		// /.page
		
		
	// /.content