.btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  font-family: 'Roboto Condensed', 'Arial Narrow', sans-serif;
  font-size: 1.06em;
  line-height: inherit;
  height: 2.75em;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  background: none;
  color: rgba(255, 255, 255, 0.8);
  padding: 0 1.5em;
  margin: 0;
  outline: 0 !important;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  cursor: default;
  position: relative;
  -webkit-transition: all .175s ease-in-out;
  -o-transition: all .175s ease-in-out;
  transition: all .175s ease-in-out; }
  .btn:visited {
    color: inherit; }
  .btn:before {
    -webkit-transition: opacity .1s ease-in-out, border-color .175s ease-in-out, -webkit-transform .175s ease-in-out;
    transition: opacity .1s ease-in-out, border-color .175s ease-in-out, -webkit-transform .175s ease-in-out;
    -o-transition: transform .175s ease-in-out, opacity .1s ease-in-out, border-color .175s ease-in-out;
    transition: transform .175s ease-in-out, opacity .1s ease-in-out, border-color .175s ease-in-out;
    transition: transform .175s ease-in-out, opacity .1s ease-in-out, border-color .175s ease-in-out, -webkit-transform .175s ease-in-out;
    content: '';
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) translate(0, 0) scale(1, 1);
            transform: translate3d(0, 0, 0) translate(0, 0) scale(1, 1); }
  .btn:after {
    -webkit-transition: opacity .1s ease-in-out, border-color .175s ease-in-out, border-width .175s ease-in-out, background-color .175s ease-in-out, -webkit-transform .175s ease-in-out, -webkit-box-shadow .1s ease-in-out;
    transition: opacity .1s ease-in-out, border-color .175s ease-in-out, border-width .175s ease-in-out, background-color .175s ease-in-out, -webkit-transform .175s ease-in-out, -webkit-box-shadow .1s ease-in-out;
    -o-transition: transform .175s ease-in-out, opacity .1s ease-in-out, box-shadow .1s ease-in-out, border-color .175s ease-in-out, border-width .175s ease-in-out, background-color .175s ease-in-out;
    transition: transform .175s ease-in-out, opacity .1s ease-in-out, box-shadow .1s ease-in-out, border-color .175s ease-in-out, border-width .175s ease-in-out, background-color .175s ease-in-out;
    transition: transform .175s ease-in-out, opacity .1s ease-in-out, box-shadow .1s ease-in-out, border-color .175s ease-in-out, border-width .175s ease-in-out, background-color .175s ease-in-out, -webkit-transform .175s ease-in-out, -webkit-box-shadow .1s ease-in-out;
    content: '';
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(238, 117, 202, 0.8);
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) translate(0, 2px) scale(1.11, 1.11);
            transform: translate3d(0, 0, 0) translate(0, 2px) scale(1.11, 1.11); }
  .btn:hover {
    color: rgba(255, 255, 255, 0.95); }
    .btn:hover:before {
      border-color: rgba(255, 255, 255, 0.15);
      border-width: 2px; }
  .btn:focus {
    color: rgba(255, 255, 255, 0.95); }
    .btn:focus:before {
      -webkit-transition-duration: .225s;
           -o-transition-duration: .225s;
              transition-duration: .225s;
      -webkit-transform: translate3d(0, 0, 0) translate(0, -2px) scale(0.89, 0.89);
              transform: translate3d(0, 0, 0) translate(0, -2px) scale(0.89, 0.89);
      opacity: 0; }
    .btn:focus:after {
      -webkit-transition-duration: .175s;
           -o-transition-duration: .175s;
              transition-duration: .175s;
      -webkit-transform: translate3d(0, 0, 0) translate(0, 0) scale(1, 1);
              transform: translate3d(0, 0, 0) translate(0, 0) scale(1, 1);
      opacity: 1; }
  .btn:active {
    position: relative;
    top: 0; }
    .btn:active:after {
      -webkit-transition-duration: .075s;
           -o-transition-duration: .075s;
              transition-duration: .075s;
      border-color: rgba(238, 117, 202, 0.95);
      -webkit-transform: scale(0.97, 0.97);
          -ms-transform: scale(0.97, 0.97);
              transform: scale(0.97, 0.97);
      -webkit-box-shadow: 0 0 5px 2px rgba(238, 117, 202, 0.2);
              box-shadow: 0 0 5px 2px rgba(238, 117, 202, 0.2);
      background-color: rgba(238, 117, 202, 0.03); }
  .btn:disabled {
    color: rgba(255, 255, 255, 0.2) !important;
    top: 0 !important;
    cursor: default !important; }
    .btn:disabled:before {
      border-color: rgba(255, 255, 255, 0.08) !important;
      border-width: 1px !important; }
