// Breadcrumbs
nav.breadcrumbs
	div.container
		ul.list
			li.item
				a(href='#') Level 1
			li.item
				a(href='#') Level 2
			li.item
				a(href='#') Level 3
			li.item
				span Page Title
// /Breadcrumbs